.body{
    height: 100vh;
        margin-top: 60px;
}
.btn {
    padding-inline: 30px;
    background-color: rgb(31, 78, 31);
    color: white;
 margin-top: 25px;
}
table {
    border: none;
    margin-top: 20px;
   width: 1100px;
}

th,
td {
    padding: 8px;
    text-align: center;
    border-bottom: none !important;
   
}

th {
    background-color: #f4f4f4;

}
.trash{
    cursor: pointer;
}
